body{
    margin: 5px 20px;
}   

:root{
    --color-primario: #ccd1d6;
    --color-secundario: #a6c7f8;
    --color-nav: #000000 ;

}

nav{
    background-color: var(--color-nav);
    position: sticky;
} 
nav ul{
    display: flex;
    justify-content: center;
    
}
nav ul img{
    margin: 0px 400px;
    border-radius: 30px;
}

nav li{
    color: black;
    list-style: none;
    padding-top: 50px;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

/* section about me */

.me{
    display: flex;
    margin: 100px 100px 100px;
    text-align: justify;
    
}
.me img{
    padding-right: 40px;
}


/* section inspiration */

.card{
    border: 1px solid #ff1111;
    border-radius: 3px;

    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
     grid-gap: 20px;
}